/*
// css/itvends.css
// it-vends
//
// Copyright 2011 by It Vends Authors. Consult the README file included with
// this program for further information.
*/
#vendit {
	text-align: center;
	margin: 8em 0 4em 0;
	z-index: 100;
}
#vendit span {
	font-size: 100px;
	padding: 0 .2em 0 .2em;
}
#itvends-overlay {
	width: 99%;
	padding: 10px;
}
#itvends {
	text-align: center;
	font-size: 64px;
	padding: 10px;
}

#venditem {
	text-align: center;
	font-size: 32px;
}
#footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
}
#footer div {
	width: 500px;
	position: static;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	border-width: 1px 1px 0 1px;
	border-color: #000;
	background: #fff;
	padding: 5px;
}

#footer a:link,
#footer a:visited {
	text-decoration: none;
	color: #00f;
}
#footer a:hover,
#footer a:active {
	text-decoration: none;
	color: #f00;
}
.hidden {
	display: none;
}
body
{
	background:#ffffff url('/img/machine.jpg') no-repeat center top;
	font-family: Verdana,Arial,sans-serif;
	font-size: 1.1em;
}
