# 
# .htaccess
# it-vends
#
# Copyright 2011 by It Vends Authors. Consult the README file included with
# this program for further information.
#

##
## Rewrites
##

## Enable URL rewriting
RewriteEngine On
RewriteBase /

## Some Redirects

# Google+
RewriteCond %{REQUEST_URI} ^(?:/?)(\+|p(lus)?)$ [NC]
RewriteRule ^(.*)$ https://plus.google.com/b/114734030767381414604/114734030767381414604 [L,R=307]

# Github
RewriteCond %{REQUEST_URI} ^(?:/?)(g(it(hub)?)?|s(ource)?)$ [NC]
RewriteRule ^(.*)$ https://github.com/eugenekay/it-vends [L,R=307]

## Correct Domain
RewriteCond %{SERVER_PORT} ^80$
RewriteCond %{HTTP_HOST} !^(\w{1,16}\.){0,2}itvends\.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(\w{1,16}\.){0,1}www\.itvends.com$ [NC]
RewriteRule ^(.*)$ http://itvends.com/$1 [L,R=307]
RewriteCond %{SERVER_PORT} ^443$
RewriteCond %{HTTP_HOST} !^(\w{1,16}\.){0,2}itvends\.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(\w{1,16}\.){0,1}www\.itvends.com$ [NC]
RewriteRule ^(.*)$ https://itvends.com/$1 [L,R=307]

## Permit skipping of file ending
RewriteCond %{REQUEST_URI} ^/.+$ [NC]
RewriteCond %{REQUEST_FILENAME} !-F
RewriteCond %{REQUEST_FILENAME}.php -F
RewriteRule ^(.*)$ $1.php [L]
