# It-Vends/.htaccess
##
## Copyright 2011 by It Vends Authors. Consult the README file included with
## this program for further information.
##

# Enable URL rewriting
RewriteEngine On
RewriteBase /

# Force usage of correct domain
RewriteCond %{SERVER_PORT} ^80$
RewriteCond %{HTTP_HOST} !^(\w{1,16}\.){0,2}itvends\.com$ [NC]
RewriteRule ^(.*)$ http://itvends.com/$1 [L,R=307]
RewriteCond %{SERVER_PORT} ^443$
RewriteCond %{HTTP_HOST} !^(\w{1,16}\.){0,2}itvends\.com$ [NC]
RewriteRule ^(.*)$ https://itvends.com/$1 [L,R=307]

# Permit skipping of file ending
RewriteCond %{REQUEST_FILENAME} !-F
RewriteCond %{REQUEST_FILENAME}.php -F
RewriteRule ^(.*)$ $1.php [L]
